
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: transparent;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(18, 78, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: black;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background:transparent;
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.head-left button:hover{
    opacity: 0.7;
}

.head-right{
    display: flex;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
}

.head-right a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid{
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}

.hero-info h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgba(209, 118, 7, 0.959);
    text-shadow: 3px 4px 2px rgba(6, 212, 240, 0.959);
}

.hero-info p{
    color: white;
    max-width: 230px;
    animation-name: fadeInRight;
    animation-duration: loop;

}

.hero-info button{
    background: rgba(165, 94, 7, 0.781);
    border: 2px solid rgba(146, 85, 11, 0.788);
    padding:10px 40px;
    border-radius:30px ;
    cursor:pointer;
    color: black;
    transition: .2s ease-in-out;
}

.hero-info button:hover{
    background-color: transparent;
    color: white;
    box-shadow: 0 0 15px rgba(146, 85, 11, 0.788);
}

.gaming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: wheat;
}

.next-btn{
    width: 200px;
    height: 200px;
    background-color: rgba(165, 94, 7, 0.781);
    position: absolute;
    left: 45%;
    bottom: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: .3s ease-in-out;
}

.next-btn:hover{
    width: 200px;
    height: 200px;
    opacity: 1;
    box-shadow: 0 0 12px rgba(165, 94, 7, 0.781);
}

.about-section{
    width:100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: black;
}

.image-box{
    height: 510px;
    width: 360px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section p{
    font-size: 22px;
}

.about-section .autoBlur h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 100px;
    max-width: 1150px;
    color: white;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
    background:linear-gradient(to right,#53f8c9 ,#07e0a3c9, #0557d3, #0caa7d, #0ad199dc, #09c48f, #53f8c9);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}


.about-section .stones-img{
    position: absolute;
    margin-top: 22%;
    width: 500px;
}
.about-section h4{
    margin-top: 50px;
    margin-bottom: 0;
}

.about-section h5{
    margin-top: 5px;
    color: grey;
    max-width: 425px;
    text-align: center;
    line-height: 25px;
}


.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;
}

.info-section h3{
    margin-bottom: 0;
}

.info-section p{
    margin-top: 45px;
    color: gray;
    max-width: 400px;
    line-height: 25px;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.card{
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1{
    position: absolute;
    margin: o;
    top: 10px;
    left: 5%;
    max-width: 250px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    background:linear-gradient(to right,#53f8c9 ,#07e0a3c9, #0557d3, #0caa7d, #0ad199dc, #09c48f, #53f8c9);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    z-index: 1;
    
}

.card p{
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 450px;
    color: lightgray;
}

.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    position: absolute;
    left: 5%;
    bottom: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background: #0000;
    color: gray;
    border-radius: 25px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.card button:hover{
    background: aquamarine;
    color: whitesmoke;
}

.card:hover{
    box-shadow: 0 0 15px rgba(172, 15, 15, 0.897);
}

.card:nth-child(1){
    grid-column: span 2;
}

.card:nth-child(2){
    grid-row: span 2;
    height: 83vh;
}

.contact-section{
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom:200px ;
    display: flex;
    flex-direction:column ;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;

}

.contact-section .img1{
    position: absolute;
    top: 10px;
    right: 20px;
    height: 400px;
    clip-path: polygon(32% 0, 94% 0, 74% 100%, 0% 100%);
}


.contact-section .img2{
    position: absolute;
    left: 50px;
    top: 10px;
    height: 200px;
    clip-path: polygon(35% 6%,75% 0%,100% 50%, 75% 100%,36% 95%,8% 49%);
}

.contact-section .img3{
    position: absolute;
    left: 5%;
    bottom: 5%;
    height: 250px;
    width: 250px;
    clip-path: polygon(35% 6%,75% 0%,100% 50%, 75% 100%,36% 95%,8% 49%);
}

.contact-section p{
    margin-top: 100px;
}

.contact-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    max-width: 550px;
    text-align: center;
    background:linear-gradient(to right,#53f8c9 ,#07e0a3c9, #0557d3, #0caa7d, #0ad199dc, #09c48f, #53f8c9);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.contact-section button{
    padding: 10px 25px;
    border: 1px solid gray;
    background: #0000;
    color: gray;
    border-radius: 25px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: .3s ease-in-out
}

.contact-section button:hover{
    background: aquamarine;
    font-weight: 600;
    color: whitesmoke;
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    backdrop-filter: blur(15px);
}

.footer p{
    margin: 0 20px;
    color: rgb(192, 136, 15);
    font-weight: 700;
}

.footer ul{
    display: flex;
    list-style: none;
    margin-right: 140px;
}
.footer a{
    text-decoration: none;
    color: wheat;
    align-items: center;
    padding: 9px 9px;
    border-radius: 50px;
    border: 1.8px solid rgba(0, 0, 0, 0.5);
    background:none;
    margin: 0 10px;
}



/*Blur Effect Animation*/

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation{
    0%{
        filter: blur(40px);
    }
    40%,60%{
        filter: blur(0);
        transform: translateY(0px);
        opacity: 1;
    }

    100%{
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}

/*Take fulll screen animation*/

.autoTakeFull{
    animation: autoTakeFullAnimation both;
    animation-timeline: view(70% 65%);
}
@keyframes autoTakeFullAnimation{
    to{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 100px;
    }
}

/*Auto-Display Animation*/

.autoDisplay{
    animation: autoDisplayAnimation linear both;
    animation-timeline: view(70% 5%);
}
@keyframes autoDisplayAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/**@media screen and (max-width:650px) {
    header{
        padding: 0 10px;
    }

    .head-left button{
        display: none;
    }

    .head-right a{
        font-size: 12px;
        padding: 0 5px;
    }

    .hero-info{
        left: 5%;
    }

    .hero-section h1{
        font-size: 90px;
    }

    .next-btn{
        left: 25%;
        top: 40%;
    }

    .about-section{
        margin: 0;
    }

    .about-section h1{
        font-size: 50px;
    }

    .image-box{
        width: 300px;
        height: 500px;
    }

    .about-section h4,.about-section h5{
        max-width: 350px;
        text-align: center;
    }

    .contact-section .img1{
        width: 150px;
        height: 200px;
        right: 0;
        top: 20px;
    }

    .contact-section .img2{
        top: 30px;
        left: -40px;
        width: 180px;
        height: 180px;
    }

    .contact-section .img3{
        left: -40px;
        bottom: 0;
        width: 150px;
        height: 180px;
    }

    .contact-section h1{
        font-size: 60px;
        max-width: 300px;
    }

    .footer p{
        display: none;
    }

    .footer ul{
        margin-left: 70px;
    }

    .stones-img{
        margin-top: 80%;
        width: 400px;
    }
}**/
